/.tools/
/.cache/
/build/
/dist/
**/.gradle/
**/.kotlin/
**/.cxx/
**/build/
**/local.properties
*.user
*.iml
.idea/
*.log
__pycache__/
/.dart_tool/
/.flutter-plugins-dependencies
/coverage/
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
/windows/flutter/
